@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #cd291e; /* Accent Red */
  --secondary-color: #fdb912; /* Accent Yellow */
  --light-color: #fff9ee; /* Light White */
  --dark-color: #231f20; /* Custom Grey */
  --accent-color: #316131; /* Dark Green */
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff9ee;
  color: #231f20;
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold;
  }
}

@layer utilities {
  .transition-custom {
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.whatsapp-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}
.whatsapp-link:hover {
  color: #d3ad25;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* styles/globals.css ou ImageModal.css */
.custom-lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.custom-lightbox-inner {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  animation: fadeIn 0.3s ease;
}

.custom-lightbox-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.custom-lightbox-close {
  position: absolute;
  top: -10px;
  right: -10px;
  background: white;
  color: black;
  border: none;
  font-size: 24px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}


